
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>基于 layui 的极简社区页面模版</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div class="fly-panel fly-column" th:fragment="column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li th:class="${specialColumn == 0 ? 'layui-this layui-hide-xs' : 'layui-hide-xs'}"><a href="/">首页</a></li>
      <li><a th:href="@{/index(orderModel=${orderModel},specialColumn=1)}" th:class="${specialColumn == 1 ? 'layui-this' : '' }">提问</a></li>
      <li><a th:href="@{/index(orderModel=${orderModel},specialColumn=2)}" th:class="${specialColumn == 2 ? 'layui-this' : '' }">分享</a></li>
      <li><a th:href="@{/index(orderModel=${orderModel},specialColumn=3)}" th:class="${specialColumn == 3 ? 'layui-this' : '' }">讨论</a></li>
      <li><a th:href="@{/index(orderModel=${orderModel},specialColumn=4)}" th:class="${specialColumn == 4 ? 'layui-this' : '' }">建议</a></li>
      <li><a th:href="@{/index(orderModel=${orderModel},specialColumn=5)}" th:class="${specialColumn == 5 ? 'layui-this' : '' }">公告</a></li>
      <li><a th:href="@{/index(orderModel=${orderModel},specialColumn=6)}" th:class="${specialColumn == 6 ? 'layui-this' : '' }">动态</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
      <!-- 用户登入后显示 -->
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index.html">我发表的贴</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index.html#collection">我收藏的贴</a></li>
    </ul>

    <div class="fly-column-right layui-hide-xs">
      <span class="fly-search"><i class="layui-icon"></i></span>
      <a th:href="@{/add}" class="confirmTrans layui-btn">发表新帖</a>

    </div>
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <a th:href="@{/add}" class="layui-btn">发表新帖</a>
    </div>
  </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.cache.page = '';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '../static/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '../static/mods/'  //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
</body>
</html>