<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fly Template v3.0，基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <script th:src="@{/mods/jquery.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/editormd.preview.css}">
    <script th:src="@{/mods/editormd.min.js}"></script>
    <script th:src="@{/editormd/lib/prettify.min.js}"></script>
    <script th:src="@{/editormd/lib/marked.min.js}"></script>
    <script th:src="@{/mods/global.js}"></script>
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/mods/detail.js}"></script>
    <script th:src="@{/mods/sweetalert.min.js}"></script>

</head>
<body>

<div th:insert="~{common/header :: nav}"></div>
<div class="layui-hide-xs">
    <div th:insert="~{common/column :: column}"></div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1 th:text="${post.title}">Fly Template v3.0，基于 layui 的极简社区页面模版</h1>
                <div class="fly-detail-info">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <span class="layui-badge layui-bg-green fly-detail-column" th:text="${column.column}">动态</span>

                    <!--<span class="layui-badge" style="background-color: #999;">未结</span>-->
                    <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->

                    <span class="layui-badge layui-bg-orange" th:if="${post.type == 2}">置顶</span>
                    <span class="layui-badge layui-bg-red" th:if="${post.type == 1}">精帖</span>

                    <div class="fly-admin-box" data-id="123">
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>-->

                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> -->
                        <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->

                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> -->
                        <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
                    </div>
                    <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> <i th:text="${post.commentCount}"></i></a>
            <i class="iconfont" title="人气">&#xe60b;</i> <i th:text="${post.pageView}"></i>
          </span>
                </div>
                <div class="detail-about" style="height: 40px;">
                    <a class=" mt-avatar fly-avatar " th:href="@{|/user/${user.id}|}">
                        <img th:src="${user.headerUrl}" alt="贤心">
                    </a>
                    <div class="fly-detail-user">
                        <a th:href="@{|/user/${user.id}|}" class="fly-link">
                            <cite th:text="${user.nickname}">贤心</cite>

                        </a>
                        <span th:text="${#dates.format(post.modTime,'yyyy-MM-dd HH:mm')}">2017-11-30</span>
                    </div>

                    <th:block th:if="${loginUser != null}">
                        <div class="detail-hits " id="LAY_jieAdmin" data-id="123">
                            <!--<span style="padding-right: 10px; color: #FF7200">悬赏：60飞吻</span>  -->
                            <span class="layui-btn layui-btn-xs jie-admin" th:if="${post.userId == loginUser.id}" type="edit">
                <a th:href="@{|/add/${post.id}|}">编辑此贴</a>
              </span>
                            <span th:class="|layui-btn layui-btn-xs jie-admin collection ${hasCollection?'layui-bg-red':'layui-bg-green'}|" id="collection">
                  <a th:onclick="|collection(this,${post.id});|" th:text="${hasCollection}? '已藏' : '收藏'" th:class="${hasCollection} ? 'collection' : 'unCollection'"></a>
              </span>

                            <span th:class="|layui-btn layui-btn-xs jie-admin like ${hasLike?'layui-bg-red':'layui-bg-green'} |" id="like">
                <a th:onclick="|like(this,${post.id});|" th:text="${hasLike}? '已赞' : '点赞'" th:class="${hasLike} ? 'like' : 'unLike'"></a>
              </span>

                        </div>
                    </th:block>

                </div>

                <div class="detail-body photos" id="content-view">
                    <textarea style="display:none;" th:text="${post.content}">### Hello world!</textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("content-view", {});
                    });
                </script>

            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                    <li data-id="111" class="jieda-daan" th:each="cvo:${comments}">
                        <a name="item-1111111111"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="mt-avatar fly-avatar" th:href="@{|/user/${cvo.user.id}|}">
                                <img th:src="${cvo.user.headerUrl}" alt="这是头像 ">
                            </a>
                            <div class="fly-detail-user">
                                <a th:href="@{|/user/${cvo.user.id}|}" class="fly-link">
                                    <cite th:text="${cvo.user.nickname}">贤心</cite>
                                </a>

                                <span th:if="${post.userId == cvo.user.id}">(楼主)</span>

                            </div>

                            <div class="detail-hits">
                                <span th:text="${#dates.format(cvo.comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2017-11-30</span>
                            </div>

                        </div>
                        <div class="detail-body jieda-body photos">
                            <p th:text="${cvo.comment.content}">香菇那个蓝瘦，这是一条被采纳的回帖</p>
                        </div>
                        <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                <i th:class="|iconfont icon-zan  ${cvo.hasLikeComment ? 'deeppink' : 'darkgray' } |" th:onclick="|likeComment(this,${cvo.comment.id})|"></i>
                <em th:text="${cvo.comment.likeCount}" >66</em>
              </span>

                            <!--<span type="reply">-->
                <!--<i class="iconfont icon-svgmoban53"></i>-->
                <!--回复-->
              <!--</span>-->
                            <div class="jieda-admin" th:if="${cvo.comment.userId == loginUser.id}">
                                <span type="del" th:onclick="|delete1(this,${cvo.comment.id});|" >删除</span>
                            </div>

                        </div>
                    </li>


                    <!-- 无数据时 -->
                    <li th:if="${comments == 0}" class="fly-none">消灭零回复</li>

                </ul>


                    <div th:if="${loginUser != null}" class="layui-form layui-form-pane">
                        <form th:action="@{|/comment/add/${post.id}|}" method="post">
                            <div class="layui-form-item layui-form-text">
                                <a name="comment"></a>
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <input type="hidden" name="entityType" value="1">
                                <input type="hidden" name="entityId" th:value="${post.id}">

                                <button class="layui-btn" lay-filter="*" lay-submit onmouseup="submit1()">提交回复</button>
                            </div>
                        </form>
                    </div>
                <div th:if="${loginUser == null}" class="layui-form layui-form-pane">
                    <div style=" text-align: center">
                        <span style="color: chocolate">你还没有登陆，请点击这里登陆</span>
                        <a th:href="@{/login}" style="color: cadetblue" >登陆</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd th:each="topCommentPost:${topCommentPost}">
                    <a th:href="@{|/detail/${topCommentPost.id}|}" th:text="${topCommentPost.title}">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> <i th:text="${topCommentPost.commentCount}"></i></span>
                </dd>


                <!-- 无数据时 -->

                <div  th:if="${topCommentPost == null }" class="fly-none">没有相关数据</div>

            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="#" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
                </div>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <img src="https://mutong-community.oss-cn-beijing.aliyuncs.com/%E4%BA%8C%E7%BB%B4%E7%A0%81.jpg" style="max-width: 100%;" alt="layui">
                <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
            </div>

        </div>
    </div>
</div>

<div th:insert="~{common/footer :: footer}"></div>

<script src="../../static/layui/layui.js"></script>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '../../static/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '../../static/mods/'
    }).extend({
        fly: 'index'
    }).use(['fly', 'face'], function(){
        var $ = layui.$
            ,fly = layui.fly;
        //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
        /*
        $('.detail-body').each(function(){
          var othis = $(this), html = othis.html();
          othis.html(fly.content(html));
        });
        */
    });


</script>

</body>
</html>