
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>用户主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <script th:src="@{/mods/detail.js}"></script>
  <script th:src="@{/mods/sweetalert.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/community.css}">
</head>
<body style="margin-top: 65px;">

<div th:insert="~{common/header :: nav}"></div>

<div class="fly-home fly-panel" style="background-image: url(https://mutong-community.oss-cn-beijing.aliyuncs.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png);">
  <img th:src="${user.headerUrl}" alt="贤心">
  <i class="iconfont icon-renzheng" title="Fly社区认证"></i>
  <h1 th:text="${user.nickname}">
    <i class="iconfont icon-nan"></i>
    <!-- <i class="iconfont icon-nv"></i>  -->
    <i class="layui-badge fly-badge-vip">VIP3</i>
    <!--
    <span style="color:#c00;">（管理员）</span>
    <span style="color:#5FB878;">（社区之光）</span>
    <span>（该号已被封）</span>
    -->
  </h1>

  <p style="padding: 10px 0; color: #5FB878;">认证信息：layui 作者</p>

  <p class="fly-home-info">
    <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;" th:text="|${user.score} 飞吻|">66666</span>
    <i class="iconfont icon-shijian"></i><span th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm')}">2015-6-17 加入</span>
    <i class="iconfont icon-chengshi"></i><span th:text="${user.address}">来自杭州</span>
  </p>

  <p class="fly-home-sign" th:text="${user.signature}">（人生仿若一场修行）</p>

  <div class="fly-sns" data-user="">
    <a onclick="deve()" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend">加为好友</a>
    <a onclick="deve()" class="layui-btn layui-btn-normal fly-imActive" data-type="chat">发起会话</a>
  </div>

</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title"><i style="color: red" th:text="${user.nickname}"></i>  最近的提问</h3>
        <ul class="jie-row">
          <li th:each="post:${posts}">
            <span class="fly-jing" th:if="${post.type == 1}">精</span>
            <a th:href="|/detail/${post.id}|" class="jie-title" th:text="${post.title}"></a>
            <i th:text="${post.modTime}">刚刚</i>
            <em class="layui-hide-xs"><i th:text="${post.commentCount}"></i>评</em>
          </li>
          <div style="text-align: center" th:if="${postCount >= 10}">
            <!-- 分页 -->
            <div class="laypage-main" th:if="${page.rows>0}" th:fragment="pagination">
              <a class="" th:href="@{${page.path}(current=1)}">首页</a>
              <a th:class=" ${ page.current == 1? ' disabled':''}" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
              <a th:class=" ${ i==page.current?'active':''}" th:href="@{${page.path}(current=${i})}" th:text="${i}" th:each="i:${#numbers.sequence(page.from,page.to)}">1</a>
              <a th:class="${ page.current == page.total? 'disabled':''}" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
              <a class="" th:href="@{${page.path}(current=${page.total})}">末页</a>

            </div>
          </div>

           <div th:if="${postCount == 0}" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div>
        </ul>
      </div>
    </div>
    
    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title">贤心 最近的回答</h3>
        <ul class="home-jieda">
          <!--<li>-->
          <!--<p>-->
          <!--<span>1分钟前</span>-->
          <!--在<a href="" target="_blank">tips能同时渲染多个吗?</a>中回答：-->
          <!--</p>-->
          <!--<div class="home-dacontent">-->
            <!--尝试给layer.photos加上这个属性试试：-->
<!--<pre>-->
<!--full: true         -->
<!--</pre>-->
            <!--文档没有提及-->
          <!--</div>-->
        <!--</li>-->
        <!--<li>-->
          <!--<p>-->
          <!--<span>5分钟前</span>-->
          <!--在<a href="" target="_blank">在Fly社区用的是什么系统啊?</a>中回答：-->
          <!--</p>-->
          <!--<div class="home-dacontent">-->
            <!--Fly社区采用的是NodeJS。分享出来的只是前端模版-->
          <!--</div>-->
        <!--</li>-->
        
           <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>该模块正在开发中~</span></div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div th:insert="~{common/footer :: footer}"></div>
<script src="../../static/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../static/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>