
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>我的消息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <script th:src="@{/mods/jquery.min.js}"></script>
  <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link th:rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" href="../../static/css/editormd.preview.css">
  <script th:src="@{/mods/editormd.min.js}"></script>
  <script th:src="@{/editormd/lib/prettify.min.js}"></script>
  <script th:src="@{/editormd/lib/marked.min.js}"></script>
  <script th:src="@{/mods/global.js}"></script>
  <link rel="stylesheet" th:href="@{/css/community.css}">
  <script th:src="@{/mods/sweetalert.min.js}"></script>
  <script th:src="@{/mods/message.js}"></script>
</head>
<body>

<div th:insert="~{common/header :: nav}"></div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a th:href="@{|/user/${user.id}|}">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item ">
      <a th:href="@{/user}">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a th:href="@{/set}">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item layui-this" >
      <a th:href="@{/message}">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button th:if="${count != 0 }" class="layui-btn layui-btn-danger" id="LAY_delallmsg" th:onclick="|readAll1(this,${user.id});|">清空全部消息</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <div class="fly-none" th:if="${count == 0 }">您暂时没有最新消息</div>
        <ul class="mine-msg">
          <li data-id="123" th:each="message:${list}">
            <blockquote class="layui-elem-quote">
              <a target="_blank" th:href="@{|/user/${message.fromUser.id}|}"><cite th:text="${message.fromUser.nickname}">Absolutely</cite></a>
              <i th:if="${message.topic == 'like'}" style="color: black;">点赞</i>
              <i th:if="${message.topic == 'comment'}" style="color: black;">评论</i>
              <i th:if="${message.topic == 'collection'}" style="color: black;">收藏</i>
              了您的
              <i th:if="${message.content == 1}" style="color: black;">帖子</i>
              <a th:if="${message.content == 1}" target="_blank" th:href="@{|/detail/${message.post.id}|}" th:text="${message.post.title}"></a>

              <i th:if="${message.content == 2}" style="color: black;">评论</i>
              <a th:if="${message.content == 2}" target="_blank" th:text="${message.comment.content}"></a>
            </blockquote>
            <p><span th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">1小时前</span>
              <button href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete"
                 th:onclick="|read(this,${message.message.id});|">已读
              </button>
            </p>
          </li>

        </ul>
      </div>
	  </div>
	</div>

</div>


<div th:insert="~{common/footer :: footer}"></div>



</body>
</html>