.mt-avatar img{

    /* border: 1px solid #fff;*/
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
}
.mt-avatar img:hover{
    -moz-box-shadow:0 3px 10px #888;
    -webkit-box-shadow:0 3px 10px #888;
    transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    border-radius:35px;

}
.disabled{
    pointer-events: none;
    pointer-events: none;!important;
}
.active{
    background-color: #4CA;
}