<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutong.mtcommunity.mapper.PostMapper">

    <sql id="insertFields">
        user_id, title, content, special_column,create_time,mod_time,comment_count,page_view,type,status,score,like_count,collection_count
    </sql>
    <select id="selectPosts" resultType="com.mutong.mtcommunity.model.Post">
        select * from post
        where status != 0
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        <if test="specialColumn != 0">
            and special_column = #{specialColumn}
        </if>
        <!--综合页面，按照发帖的时间排序-->
        <if test="orderModel == 0">
            order by type desc , create_time desc
        </if>
        <!--置顶页面-->
        <if test="orderModel == 1">
            and type = 2
            order by create_time desc
        </if>
        <!--点赞排行榜页面-->
        <if test="orderModel == 2">
            order by like_count desc, score desc ,create_time desc
        </if>
        <!--精华页面-->
        <if test="orderModel == 3">
            and type = 1
            order by create_time desc
        </if>
        <!--按照最新-->
        <if test="orderModel == 4">
            order by create_time desc
        </if>
        <!--按照热议-->
        <if test="orderModel == 5">
            order by comment_count desc,score desc ,create_time desc
        </if>
        limit #{offset}, #{limit}
    </select>
    <sql id="selectFields">
        id,title,content,special_column,user_id,create_time,mod_time,comment_count,page_view,type,status,score,like_count,collection_count
    </sql>
    <insert id="insertPost" parameterType="com.mutong.mtcommunity.model.Post" keyProperty="id" >
        insert into post (<include refid="insertFields"></include>)
        values(#{userId}, #{title}, #{content}, #{specialColumn},#{createTime},#{modTime},#{commentCount},#{pageView},#{type},#{status},#{score},#{likeCount},#{collectionCount})
    </insert>
    <select id="selectPostByUserId" resultType="com.mutong.mtcommunity.model.Post">
        select * from post where user_id = #{userId}
    </select>

    <select id="selectPostById" resultType="com.mutong.mtcommunity.model.Post">
        select *
        from post
        where id = #{id}
    </select>
    
    <select id="selectPostRows" resultType="Integer" parameterType="Integer">
        select count(id)
        from post
        where status != 0
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <select id="selectPostBySpecialColumn" resultType="com.mutong.mtcommunity.model.Post">
        select * from post
        where status != 0 and specialColumn = #{specialColumn}
        order by create_time desc
    </select>

    <update id="updatePageView" parameterType="Integer">
        UPDATE post SET page_view = page_view + 1  WHERE id = #{id}
    </update>

    <update id="increaseCollectionCount" parameterType="Integer">
        update post set collection_count = collection_count + 1 where id = #{postId}
    </update>

    <update id="decreaseCollectionCount" parameterType="Integer">
        update post set collection_count = collection_count - 1 where id = #{postId}
    </update>

    <update id="updatePost" >
        update post
        set title = #{title},content = #{content}, special_column= #{specialColumn}
        where id = #{postId}
    </update>
</mapper>