<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutong.mtcommunity.mapper.UserMapper">
    <sql id="insertFields">
         password, salt, email, type, status, activation_code, header_url, create_time ,nickname,mod_time,address,signature,login_time
    </sql>

    <sql id="selectFields">
        id, password, salt, email, type, status, activation_code, header_url, create_time,nickname,mod_time,address,signature,login_time
    </sql>

    <select id="selectUserById" resultType="User" parameterType="Integer">
        select <include refid="selectFields"></include>
        from user
        where id = #{id}
    </select>

    <select id="selectByName" resultType="User" parameterType="String">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>

    <select id="selectUserByEmail" resultType="User" parameterType="String">
        select *
        from user
        where email = #{email}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values(#{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime},#{nickname},#{modTime},#{address},#{signature},#{loginTime})
    </insert>

    <update id="updateStatus" >
        update user set status = #{status} where id = #{id}
    </update>

    <update id="updateUser" parameterType="Integer">
        update user set
        <if test="password != null">
            password = #{password},
        </if>
        <if test="headerUrl != null">
            header_url = #{headerUrl},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="signature != null">
            signature = #{signature},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="modTime != null">
            mod_time = #{modTime}
        </if>
        where id = #{id}
    </update>

    <select id="selectPassById" parameterType="Integer" resultType="User">
        select *
        from user where id = #{id}
    </select>

    <update id="updatePassword">
        update user set password = #{password} where id = #{id}
    </update>
    <update id="updateHeaderUrl">
        update user set header_url = #{headerUrl} where id = #{id}
    </update>

    <update id="updateLoginTime">
        update user set login_time = #{date} where id = #{id}
    </update>
    <select id="selectUserByTime" resultType="User" parameterType="Integer">
        select * from user order by login_time desc limit #{offset}, #{limit}
    </select>
</mapper>